<template>
<v-container>
  <h1 class="text-lg-left text-md-left">{{$t('dashboard.title')}}</h1>
  <v-layout justify-center>
    <v-form v-model="userValid" @submit.prevent="updateUser">
        <v-layout wrap pa-5>
          <v-flex xs12>
            <v-text-field
              :label="$t('user.fullname')"
              v-model="user.fullname"
              :rules="rules.notEmpty"
              required/>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              label="E-mail"
              v-model="user.email"
              :rules="rules.notEmpty"
              required />
          </v-flex>
          <v-flex xs12>
            <v-select
              append-icon="fa fa-caret-down"
              :items="languages"
              :label="$t('user.language')"
              v-model="user.language"
              @change="changeLanguage"/>
          </v-flex>
          <v-layout justify-center mt-5>
            <v-btn
              color="green darken-1"
              type="submit"
              :disabled="!userValid">
              {{$t('user.save')}}
            </v-btn>
          </v-layout>
        </v-layout>
    </v-form>
  </v-layout>
</v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Dashboard',
  data: () => ({
    userValid: false,
    user: {
      fullname: '',
      email: '',
      language: '',
    },
    rules: {
      notEmpty: [
        (value) => !!value || 'Cannot be empty'
      ],
    },
    languages: [
      {
        text: 'Español',
        value: 'es'
      },
      {
        text: 'English',
        value: 'en'
      }
    ]
  }),

  mounted() {
    this.user.fullname = this.current.fullname
    this.user.email = this.current.email
    this.user.language = this.current.language
    this.changeLanguage()
  },
  computed: {
    ...mapGetters('users', ['current']),
  },

  methods: {
    ...mapActions('users', ['update']),
    updateUser() {
      this.$store.dispatch('users/patch', [
        this.current._id,
        this.user,
      ])
    },
    changeLanguage() {
      this.$i18n.locale = this.user.language
    }
  },
}
</script>


<style scoped>

</style>
