<template>
<v-container>
<v-layout justify-center fill-height>
  <v-tabs fixed-tabs color="blue" slider-color="red" v-model="activeTab">
    <v-tab :key="1">
      {{$t('login.login')}}
    </v-tab>
    <v-tab :key="2">
      {{$t('login.register')}}
    </v-tab>
    <v-tab-item :key="1">
      <v-form v-model="loginValid" @submit.prevent="login">
        <v-container grid-list-xl>
          <v-layout wrap justify-center column>
            <v-flex xs12>
              <v-text-field
                label="E-mail"
                v-model="loginUser.email"
                :rules="rules.notEmpty"
                required />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                label="Password"
                type="password"
                v-model="loginUser.password"
                :rules="rules.notEmpty"
                required />
            </v-flex>
            <v-layout wrap justify-center>
              <v-btn color="green darken-1" flat type="submit" :disabled="!loginValid">{{$t('login.login')}}</v-btn>
            </v-layout>
          </v-layout>
        </v-container>
      </v-form>
    </v-tab-item>
    <v-tab-item :key="2">
      <v-form v-model="registerValid" @submit.prevent="signUp">
        <v-container grid-list-xl>
          <v-layout wrap justify-center column>
            <v-flex xs12>
              <v-text-field
                :label="$t('user.fullname')"
                v-model="user.fullname"
                :rules="rules.notEmpty"
                required/>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                label="E-mail"
                v-model="user.email"
                :rules="rules.notEmpty"
                required />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                label="Password"
                type="password"
                v-model="user.password"
                :rules="rules.notEmpty"
                required />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                :label="$t('login.confirm')"
                type="password"
                v-model="user.confirmPassword"
                :rules="rules.confirmPassword"
                required />
            </v-flex>
            <v-layout justify-center>
              <v-btn
                flat
                color="green darken-1"
                type="submit"
                :disabled="!registerValid">
                {{$t('login.register')}}
              </v-btn>
            </v-layout>
          </v-layout>
        </v-container>
      </v-form>
    </v-tab-item>
  </v-tabs>
</v-layout>
</v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'login',
  data: (vm) => ({
    registerValid: false,
    loginValid: false,
    activeTab: null,
    user: {
      fullname: '',
      email: '',
      password: '',
      confirmPassword: '',
    },
    loginUser: {
      email: '',
      password: '',
    },
    rules: {
      notEmpty: [
        (value) => !!value || 'Cannot be empty'
      ],
      confirmPassword: [
        (cPass) => cPass === vm.user.password || 'Passwords must be equal'
      ],
    },
  }),

  methods: {
    ...mapActions('auth', ['authenticate']),

    signUp() {
      if (this.registerValid) {
        const { User } = this.$FeathersVuex
        const user = new User(this.user)
        user.save().then(() => {
          this.user.fullname = ''
          this.user.email = ''
          this.user.password = ''
          this.user.confirmPassword = ''
          this.activeTab = 0
        })
      }
    },

    login() {
      this.authenticate({
        strategy: 'local',
        ...this.loginUser,

      }).then(() => {
        this.$router.push('/dashboard')

      }).catch(e => {
        window.console.error('Authentication error', e)
      })
    },
  },
}
</script>

<style>

</style>
