<template>
<v-container>
  <h1 class="text-lg-left">{{$t('projects.title')}}</h1>
  <v-layout row wrap justify-center>
    <v-flex xs12 md4 pa-3 v-for="project in projects" :key="project._id">
      <v-card raised>
        <v-card-title>
          <div class="headline">{{project.title}}</div>
        </v-card-title>
        <v-card-text>
          <v-chip>{{$t('search.deadline')}}: {{project.deadline}}</v-chip>
        </v-card-text>
        <v-card-actions>
          <v-btn color="green darken-1"
                 :to="`/projects/${project._id}`">
            {{$t('projects.open')}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <CreateProject />
  </v-layout>
</v-container>
</template>

<script>
import CreateProject from '../components/CreateProject.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Projects',
  components: {
    CreateProject,
  },

  created() {
    this.findProjects({
      query: {
        owner: this.current._id,
      }
    }).then(response => {
      response.data || response
    })
  },

  computed: {
    ...mapGetters('projects', { findProjectsInStore: 'find' }),
    ...mapGetters('users', ['current']),
    projects() {
      return this.findProjectsInStore({
        query: {
          owner: this.current._id
        }
      }).data
    },
  },

  methods: {
    ...mapActions('projects', {findProjects: 'find'}),
  },
}
</script>
