<template>
<v-container pa-3>
  <v-card>
    <v-card-title>
      <div class="headline">{{project.title}}</div>
      <v-spacer/>
      <v-chip>Deadline: {{project.deadline}}</v-chip>
    </v-card-title>
    
    <v-card-text class="mb-4">
      <v-subheader class="pa-5" style="display: inline-block">{{project.description}}</v-subheader>
    </v-card-text>
    
    <v-divider/>
    <v-card-actions>
      <v-btn
        flat
        color="green darken-1"
        @click.native="proposalDialog = true"
        v-if="!(current._id === project.owner) && !project.acceptedProposal">
        Make a proposal
      </v-btn>
      <v-spacer/>
      <v-btn
        flat
        color="red darken-1"
        @click.native="deleteDialog = true"
        v-if="current._id === project.owner">
        Delete
      </v-btn>
    </v-card-actions>
  </v-card>

  <v-container v-if="accProposal && project.acceptedProposal && (current._id == project.owner || current._id == accProposal.owner)">
      <div class="headline text-xs-left mb-3">Accepted Proposal</div>
      <v-layout justify-center mb-5>
        <v-flex xs12 sm12 md6>
          <v-card>
            <v-card-title>
              <div class="headline text-xs-left">{{accProposal.title}}</div>            
            </v-card-title>
            <v-card-text>
              <v-subheader style="display: inline-block;">{{accProposal.description}}</v-subheader>
              <div class="pt-3 pb-2">Estimations</div>
              <v-chip>Time: {{accProposal.estimatedTime}}</v-chip>
              <v-chip>Money: {{accProposal.estimatedMoney}} U$D</v-chip>            
            </v-card-text>
            <v-divider />
            <v-card-actions>
              <v-btn
                color="red darken-1"
                @click.native="deleteAcceptedProposal"
                flat>
                Delete
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>      
      </v-layout>      
  </v-container>

  <Chat v-if="project.acceptedProposal && (current._id == project.owner || this.current._id == accProposal.owner)"
        :proposalID="project.acceptedProposal"/>

  <v-dialog v-model="deleteDialog" persistent max-width="600px">
    <v-card>
      <v-card-title class="headline">Are you sure?</v-card-title>
      <v-card-text>If you delete this, you can't restore it later on. Do you like to continue?</v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-btn color="red darken-1" flat @click.native="deleteProject">Yes, delete</v-btn>
        <v-btn color="green darken-1" flat @click.native="deleteDialog = false">No, cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  
  <v-dialog v-model="proposalDialog" persistent>
    <v-card>
      <v-card-title class="headline">New proposal</v-card-title>
      <v-form v-model="proposalValid" @submit.prevent="saveProposal(project.owner)">
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field
                required
                label="Title"
                v-model="proposal.title" />
            </v-flex>
            <v-flex xs12>
              <v-textarea
                label="Description"
                required
                v-model="proposal.description"
                hint="Try to mention how you can help to make this project a reality"/>
            </v-flex>
            <v-flex xs12>
              <v-menu
                :close-on-content-click="true"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
                >
                <v-text-field
                  slot="activator"
                  v-model="proposal.estimatedTime"
                  label="Date"
                  hint="MM/DD/YYYY format"
                  persistent-hint />
                <v-date-picker
                  v-model="proposal.estimatedTime"
                  @input="menu1 = false"
                  prev-icon="fa fa-arrow-left"
                  next-icon="fa fa-arrow-right"
                  header-color="blue"/>
              </v-menu>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                label="Estimated money (USD)"
                required
                v-model="proposal.estimatedMoney" />
            </v-flex>
          </v-layout>
        </v-container>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            flat
            color="green darken-1"
            type="submit">
            Send
          </v-btn>
          <v-btn
            flat
            color="red darken-1"
            @click.native="proposalDialog = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
  
  <v-container pa-3 v-if="current._id == project.owner && project.acceptedProposal == undefined">
    <div class="headline text-xs-left mb-3">Proposals</div>
    <v-layout wrap justify-center>
      <v-flex xs12 sm12 md5 ma-3 v-for="p in proposals" :key="p._id">
        <v-card raised>
          <v-card-title>
            <div class="headline text-xs-left">{{p.title}}</div>            
          </v-card-title>
          <v-card-text>
            <v-subheader style="display: inline-block;">{{p.description}}</v-subheader>
            <div class="pt-3 pb-2">Estimations</div>
            <v-chip>Time: {{p.estimatedTime}}</v-chip>
            <v-chip>Money: {{p.estimatedMoney}} U$D</v-chip>            
          </v-card-text>
          <v-divider/>
          <v-card-actions class="pa-3">
            <v-spacer />
            <v-btn
              flat
              color="green darken-1"
              @click.native="updateProject(p._id)">
              Accept
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12 sm12 md5 v-if="proposals.length == 0">
        <v-subheader class="headline">Nothing yet...</v-subheader>
      </v-flex>
    </v-layout>
  </v-container>
</v-container>
</template>

<script>
import Chat from '../components/Chat'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Project',
  data: () => ({
    project: {},
    accProposal: {},
    proposal: {
      title: '',
      description: '',
      estimatedTime: '',
      estimatedMoney: '',
    },
    proposalValid: false,
    proposalDialog: false,
    deleteDialog: false,
    users: [],
  }),
  
  components: {
    Chat,
  },
  
  mounted() {
    //this.proposal.projectID = this.$route.params.id
  },
  
  created() {
    this.$store.dispatch('projects/get', this.$route.params.id).then(resp => {
      this.project = resp.data || resp
      this.retrieveAcceptedProposal()
    })
    
    this.findProposals({
      query: {
        projectID: this.project._id
      }
    }).then(response => {
      response.data || response
    })
  },
  
  computed: {
    ...mapGetters('proposals', { getProposal: 'get',
                                 findProposalsInStore: 'find'}),
    ...mapGetters('users', { current: 'current' }),
    ...mapGetters('projects', { getProject: 'get' }),
    
    proposals() {
      return this.findProposalsInStore({
        query: {
          projectID: this.project._id
        }
      }).data
    },
  },
  
  methods: {
    ...mapActions('proposals', { findProposals: 'find' }),
    ...mapActions('projects', { updateProject: 'update' }),
    
    deleteProject() {
      this.$store.dispatch('projects/remove', this.$route.params.id)
        .then(() => {
          this.deleteDialog = false
          this.$router.push('/projects')
        })
    },
    
    saveProposal() {
      const { Proposal } = this.$FeathersVuex
      
      const proposal = new Proposal({
        ...this.proposal,
        projectID: this.project._id,
      })
      
      proposal.save().then(() => {
        this.proposal.title = ''
        this.proposal.description = ''
        this.proposal.estimatedTime = ''
        this.proposal.estimatedMoney = ''
        this.proposalDialog = false
        location.reload()
      })
    },
    
    updateProject(proposalID) {
      this.$store.dispatch('projects/patch', [
        this.$route.params.id,
        {
          acceptedProposal: proposalID,
        },
        {}
      ]).then(() => {
        location.reload()
      })      
    },

    retrieveAcceptedProposal() {
      if (this.project.acceptedProposal) {
        this.$store.dispatch('proposals/get', this.project.acceptedProposal)
          .then(resp => {
            this.accProposal = resp.data || resp
          })
      }
    },

    deleteAcceptedProposal() {
      this.$store.dispatch('projects/update', [
        this.$route.params.id,
        {
          $unset: {
            acceptedProposal: '',
          }
        },
        {}
      ]).then(() => {
        location.reload()
      })
    },
  },
}
</script>

<style scoped>
</style>
