<template>
<v-container fluid>
  <h1 class="text-xs-left" v-text="$t('search.title')"></h1>
  <v-container justify-center>
    <v-text-field
      v-model="searchText"
      prepend-icon="fa fa-search"/>
  </v-container>
  <v-layout wrap>
    <v-flex xs12 sm12 md6 lg4 v-for="project in projectsFiltered" :key="project._id">
      <v-card class="mb-4 ml-4" raised>
        <v-card-title>
          <div class="headline">{{project.title}}</div>
          <v-spacer/>
          <v-chip>{{$t('search.deadline')}}: {{project.deadline}}</v-chip>
        </v-card-title>
        <v-card-text class="pa-4">
          <v-subheader>{{project.description.substring(0, 200) + ' ...'}}</v-subheader>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary"
                 :to="`/projects/${project._id}`">
            {{$t('search.see')}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Search',
  data: () => ({
    searchText: '',
  }),

  created() {
    this.findProjects().then(resp => {
      const projects = resp.data || resp
      projects
    })
  },

  computed: {
    ...mapGetters('projects', { findProjectsInStore: 'find' }),
    projects() {
      return this.findProjectsInStore().data
    },

    projectsFiltered() {
      if (this.searchText === '')
        return this.projects
      
      const projectsFiltered = this.projects.filter(project => {
        const regex = new RegExp(this.searchText, 'i')
        return regex.test(project.title) || regex.test(project.description)
      })

      return projectsFiltered
    },
  },

  methods: {
    ...mapActions('projects', { findProjects: 'find' }),
  },
}
</script>

<style scoped>
</style>
