<template>
<v-container>
  <div class="headline text-xs-left">Chat</div>
  <v-layout>
    <v-flex xs12 pa-3>
      <v-card>
        <v-container>
          <template v-for="(m, index) in messages.data">
            <v-flex d-inline-block
                    :class="[current._id === m.userID ? 'floatRight' : 'floatLeft']"
                    :key="m._id">
              <v-card :key="index"
                      :class="[current._id === m.userID ? 'blue' : 'green']"
                      v-if="m.user">
                <v-subheader>
                  {{m.user.fullname}}
                </v-subheader>
                <p class="text-xs-right pr-3">{{m.text}}</p>
              </v-card>
            </v-flex>
            <v-divider
              dark
              class="clearBoth"
              :key="index + 10000"/>
          </template>
        </v-container>
        <v-divider />
        <v-card-actions>
          <v-layout justify-center>
            <v-flex xs12 sm12 md6>
              <v-text-field
                class="mt-3"
                append-icon="fa fa-reply"
                label="Message"
                placeholder="Write here..."
                v-model="message"
                @click:append="sendMessage"
                @keydown.enter="sendMessage"/>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'chat',
  data: () => ({
    message: '',
  }),

  props: {
    proposalID: String,
  },

  computed: {
    ...mapGetters('users', ['current']),
    ...mapGetters('messages', { findMessagesInStore: 'find' }),
    messages() {
      return this.findMessagesInStore({
        query: {
          proposalID: this.proposalID,
          $sort: {
            createdAt: 1,
          },
        }
      })
    }
  },

  created() {
    this.findMessages({
      query: {
        proposalID: this.proposalID,
        $sort: {
          createdAt: -1,
        },
      }
    })
  },

  methods: {
    ...mapActions('messages', {
      findMessages: 'find',
      createMessage: 'create'
    }),
    
    sendMessage() {
      this.createMessage({
        text: this.message,
        proposalID: this.proposalID,
        
      }).then(this.clearMessage)
    },

    clearMessage() {
      this.message = ''
    },
  },
}
</script>

<style scoped>
.blue {
    background: blue;
}
.green {
    background: green;
}
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.clearBoth {
    clear: both;
}
</style>
