<template>
<v-flex id="newProject" xs12 md4 pa-3 reverse>
  <v-btn fab large color="white" @click.native="dialog = true">
    <v-icon>fa fa-plus</v-icon>
  </v-btn>
  <v-spacer />
  <span class="headline text-xs-center span">{{$t('projects.newP')}}</span>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card>
     <v-card-title>
        <span class="headline">{{$t('projects.newP')}}</span>
      </v-card-title>
      <v-form v-model="isValid" @submit.prevent="saveProject">
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field
                :label="$t('newProject.title')"
                required
                v-model="project.title" />
            </v-flex>
            <v-flex xs12>
              <v-textarea
                :label="$t('newProject.description')"
                required
                v-model="project.description"
                :hint="$t('newProject.hint')"/>
            </v-flex>
            <v-flex xs12>
              <v-menu
                :close-on-content-click="true"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
                >
                <v-text-field
                  slot="activator"
                  v-model="project.deadline"
                  :label="$t('newProject.date')"
                  hint="MM/DD/YYYY"
                  persistent-hint />
                <v-date-picker
                  v-model="project.deadline"
                  @input="menu1 = false"
                  prev-icon="fa fa-arrow-left"
                  next-icon="fa fa-arrow-right"
                  header-color="blue"/>
              </v-menu>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click.native="dialog = false">{{$t('newProject.close')}}</v-btn>
          <v-btn color="blue darken-1" flat type="submit">{{$t('newProject.save')}}</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</v-flex>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "CreateProject",
  data: () => ({
    dialog: false,
    isValid: false,
    project: {
      title: '',
      description: '',
      deadline: '',
    },
  }),

  computed: {
    ...mapGetters('users', ['current']),
  },

  methods: {
    saveProject() {
      if (this.isValid) {
        const { Project } = this.$FeathersVuex
        const p = new Project(this.project)

        p.save().then(() => {
          this.project.title = ''
          this.project.description = ''
          this.project.date = ''
          this.dialog = false
        })
      }
    }
  },
}
</script>

<style scoped>
.span {
    color: black;
}
</style>
