<template>
<v-layout>
  <v-toolbar dark>
    <v-btn @click.stop="drawer = !drawer" icon>
      <v-icon>fa fa-bars</v-icon>
    </v-btn>
    <v-toolbar-title>Dover</v-toolbar-title>
    <v-spacer />
    <v-toolbar-items>
      <v-btn
        v-if="!accessToken"
        fab
        color="blue"
        to="/login">
        <v-icon>fa fa-sign-in</v-icon>
      </v-btn>
      <v-btn
        v-if="accessToken"
        fab
        color="red"
        @click.native="logout">
        <v-icon>fa fa-sign-out</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
  <v-navigation-drawer
    v-if="accessToken"
    v-model="drawer"
    absolute
    temporary>
    <v-list>
      <v-list-tile>
        <v-list-tile-title>
          {{currentUser && currentUser.fullname}}
        </v-list-tile-title>
      </v-list-tile>
      <v-divider/>
      <v-list-tile :key="1" to="/dashboard">
        <v-list-tile-action>
          <v-icon>fa fa-user</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          {{$t('dashboard.title')}}
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :key="2" to="/search">
        <v-list-tile-action>
          <v-icon>fa fa-search</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          {{$t('search.title')}}
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :key="3" to="/projects">
        <v-list-tile-action>
          <v-icon>fa fa-list-alt</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          {{$t('projects.title')}}
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</v-layout>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'Toolbar',
  data: () => ({
    drawer: false,

  }),
  computed: {
    ...mapState('auth', ['accessToken']),
    ...mapGetters('users', {currentUser: 'current'}),
  },

  methods: {
    ...mapActions('auth', {authLogout: 'logout'}),
    logout() {
      this.authLogout().then(() => this.$router.push('/login'))
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
