<template>
<v-container>
  <v-list subheader>
    <v-subheader>Users</v-subheader>
    <v-list-tile
      v-for="user in users"
      :key="user._id">
      <v-list-tile-content>
        <v-list-tile-title>{{user.fullname}}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
</v-container>
</template>

<script>
export default {
  name: 'UserList',
  props: {
    users: Array,
  }
}
</script>
