<template>
<v-app id="app" data-app="true">
  <Toolbar />
  <router-view />
</v-app>
</template>

<script>
import Toolbar from '@/components/Toolbar.vue'

export default {
  name: 'app',
  components: {
    Toolbar,
  }
}
</script>

<style>
#app {
  text-align: center;
}
</style>
